.Polaris-HorizontalStack{

    gap:1rem;
}
.Polaris-Text--headingMd{
    padding-top:0.5rem;
}

.Polaris-Text--regular{
    padding-top: 0.5rem;
}
#totalbutton .Polaris-Button--primary{
    width:6.5rem;
}
#totalbutton{
   display: flex;
   flex-direction: column;
   gap:0.5rem;

   align-items: flex-end;
    width:100%;

}
#secondcard{
    margin-top: 3rem;
}
span{
    font-weight: bold;
}
.Polaris-Text--subdued{
    font-weight: normal;
}
#secondcardbutton{
    width:100%;
    display: flex;
    justify-content: flex-end;
}
#secondcardbutton .Polaris-Button--primary{
    width:6rem;
}
.Polaris-TopBar__Search{
  align-items: center;
    justify-content: start;
    height: 100%;
}
.navLinks{
  display: flex;
  gap: 20px;
  align-items: center;
}
.navLinks a{
  text-decoration: none;
  color: #42474C;
  font-weight: semi-bold;
}
.header-section{
  display:flex;
  flex-direction: row;
  gap: 50px;
}
.back-arrow-container{
  border: solid 1px #CCCCCC;
  border-radius: 4px;
  height: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 30px;
}
.Polaris-Icon__Svg, .Polaris-Icon__Img{
  fill: grey;
}
.Polaris-Box{
  margin-block: .5rem;
}
.page-title{
  text-align: center;
    font-weight: bold;
    margin-block: 2rem;
    font-size: 32px;
}
.pages-data{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.html-data{
  color: #42474C;
}
.Language{
  font-size:18px;
}
.headset .Polaris-Box{
  display: flex;
  padding: 0 50px;
  align-items: center;
  height: 100%;
}
.wordcount{
  display:flex;
  justify-content: space-between;
  width: 100%;
}
.Polaris-RadioButton__Backdrop:before{
  background-color: #007a5c !important;
}
.Polaris-RadioButton__Input:checked + .Polaris-RadioButton__Backdrop, .Polaris-RadioButton__ChoiceLabel:hover .Polaris-RadioButton__Input:checked + .Polaris-RadioButton__Backdrop {
  border-color: #007a5c !important;
}
.menu-container{
  display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.ai{
  color: #1F64FF;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 12px;
text-decoration: none;
}
.custom{
  color: #008060;
font-size: 12px;
font-style: normal;
font-weight: 400;
text-decoration: none;
line-height: 12px;
}
