.component-selectedcard {
  border-radius: 2px;
  color: white;
  background: #008060;
  /* width: 4rem; */
  text-align: center;
}
.component-selectedcard .Polaris-Tag{
  color: white;
}

.Polaris-HorizontalStack {
  gap: 0.5rem;
}
#component-secondcard {
  margin-top: 0.5rem;
}
.component-pgwordtag{
    display: flex;
    gap: 8px;
}
.component-pgwordtag .Polaris-Tag{
  color: white;
  background: #008060;
}
.Polaris-Checkbox__Backdrop:before {
  background-color: #008060;
}
#component-tagslanguage {
  gap: 8px;
}
#component-secondcardbutton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#component-secondcardbutton .Polaris-Button--primary {
  width: 6rem;
}
.Polaris-DataTable__Cell--header,
.Polaris-DataTable--cellTotalFooter:first-child {
  font-weight: bold !important;
}

.component-selectedcard .Polaris-Tag {
  background-color: #008060;
}
